body{
    background-color: #F5F5DB;
    style="font-family: Ubuntu, Arial, sans-serif;"
}

nav ul{
    list-style-type: none; 
    display: inline;
}
nav ul li {
    float: left;
}
nav ul li a {
    padding: 8px;
}