body{
    background-color: #F5F5DB;
    font-family: Ubuntu, Arial, sans-serif;
    margin: 0;
}

nav ul{
    list-style-type: none; 
    display: inline;
}
nav ul li {
    float: left;
}
nav ul li a {
    padding: 8px;
}